*
{
	margin: 0px;
	padding: 0px;
}
html
{
	height:100%;
	width: 100%;
}
body
{
	background: #004;
	height: 100%;
	width: 100%;
}
a
{
	color: #004;
	text-decoration: none;
}
a:hover
{
	color: #04f;
}
.page
{
	width: 1200px;
	height: 100%;
	background: #bbd;
	margin: 0 auto;
}
.header
{
	width: 100%;
	height: 40px;
	border-bottom: 10px solid #004;
	border-top: 10px solid #004;
	background: #004;
}
.title
{
	float: left;
	width: 1130px;
	height: 100%;
	background: #bbd;
	font-size: 32px;
	text-align: center;
}
.add
{
	text-align: center;
	font-size: 32px;
	float: right;
	width: 60px;
	height: 100%;
	background: #bbd;
}
.p_header
{
	width: 100%;
	height: 40px;
	border-bottom: 10px solid #004;
	background: #004;
}
.p_header .name
{
	display: inline-block;
	width: 900px;
	height: 100%;
	background: #bbd;
	font-size: 32px;
	padding-left: 20px;
}
.p_header .set
{
	display: inline-block;
	width: 160px;
	height: 100%;
	background: #bbd;
	font-size: 32px;
	margin-left: 10px;
	text-align: center;
}
.p_header .exit
{
	float: right;
	width: 100px;
	height: 100%;
	background: #bbd;
	font-size: 32px;
	margin-left: 10px;
	text-align: center;
}
input.logout
{
	cursor: pointer;
	border: 0px;
	float: right;
	font-size: 24px;
	text-align: center;
	width: 100px;
	height: 40px;
	background: #bbd;
}
input.logout:hover
{
	color: #04f;
}
.content
{
	background: #bbd;
}
.folder
{
	width: 23%;
	display: inline-block;
	position: relative;
	margin: 1%;
	color: #fff;
}
.folder:hover
{
	color: #04f;
}
.folder img
{
	width: 100%;
}
.folder span
{
	display: block;
    position: absolute;
    bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
	background-color:rgba(0,0,0,.8);
    padding: 10px 30px;
}
.info
{
	width: 98%;
	height: 20px;
	border-bottom: 10px solid #004;
	padding: 1%;
	font-size: 22px;
}
.name_class
{
	width: 60%;
	height: 100%;
	float:left;
}
.teacher
{
	width: 40%;
	height: 100%;
	float:right;
	text-align: right;
}
::-webkit-input-placeholder
{
	color:#ccf;
	text-align: center;
}
::-moz-placeholder
{
	color:#ccf;
	text-align: center;
}
:-moz-placeholder
{
	color:#ccf;
	text-align: center;
}
:-ms-input-placeholder
{
	color:#ccf;
	text-align: center;
}
.login
{
	text-align: center;
}
.login h1
{
	padding-top: 25%;
	font-size: 60px;
	text-align: center;
	color: #000;
}
.login input
{
	text-align: center;
	background: #aaf;
	border: 2px solid #004;
	color: #004;
	font-family: Segoe UI;
	font-size: 24px;
	margin-top: 24px;
	padding: 4px 0 8px 0;
	text-decoration: none;
	width: 25%;
}
input.sub1
{
	cursor: pointer;
	margin-top: 4px;
	width: 50.6%;
}
input.sub1:hover
{
	color: #04f;
}
input.sub
{
	cursor: pointer;
	margin-top: 4px;
	width: 51%;
}
input.sub:hover
{
	color: #04f;
}
select.spisok
{
	text-align: center;
	background: #aaf;
	border: 2px solid #004;
	color: #004;
	font-family: Segoe UI;
	font-size: 24px;
	margin-top: 4px;
	padding: 4px 0 8px 0;
	text-decoration: none;
	width: 51%;
}

.fileform
{
    background: #aaf;
    border: 2px solid #004;
	position: relative;
	margin: 24px auto 0;
    height: 36px;
	padding: 4px 0 8px 0;
    width: 50.6%;
}
 
.fileform .selectbutton
{
    background-color: #04f;
    border: 2px solid #004;
	border-radius: 8px;
    color: #fff;
    font-size: 24px;
    height: 90%;
    text-align: center;
    width: 168px;
	margin-left: 4px;
	padding: 4px 4px 0 4px;
}
 
.fileform #upload
{
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
    position: absolute; 
	overflow:hidden;
    top: -26px;
    left: -2px; 
    width: 100%;
    font-size: 24px;
    height: 32px;
	text-indent: -200px;
	padding-top: 8px;
}
#name_mat
{
	width: 50.6%;
	margin-top: 4px;
}
.mess
{
	background: #aaf;
    border: 2px solid #004;
	margin: 24px auto 0;
	padding: 4px 0 8px 0;
    width: 50.6%;
}
.index
{
	display: block;
	width: 40%;
	background: #04f;
    border: 2px solid #004;
	border-radius: 8px;
    color: #fff;
    font-size: 24px;
    text-align: center;
	padding: 4px;
	margin: 0 auto;
	position: relative;
	top: 24px;
}
.index:hover
{
	color: #004;
}
